<div class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        ng-click="vm.exit()"
                        data-dismiss="modal"
                        aria-hidden="true">&times;
                </button>
                <h2 style="padding-left: 15px">{{vm.request.name}}</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <h4 style="text-align: center;font-weight: bold" translate>REQUEST_SETTINGS</h4>
                </div>

                <div class="row">
                    <p class="col-xs-offset-1 col-xs-3" style="font-weight: bold" translate>HTTP_METHOD</p>
                    <div class="col-sm-3" style="font-weight: bold">{{vm.request.method}}</div>
                </div>

                <div class="row">
                    <div class="col-xs-offset-1 col-xs-3" style="font-weight: bold" translate>SERVICE_ADDRESS</div>
                    <a class="col-sm-3" target="_blank" href="{{vm.request.url}}">{{vm.request.url}}</a>
                </div>

                <br>

                <div ng-show="vm.request.headers.length">
                    <div class="row">
                        <p class="col-xs-offset-1 col-xs-3" style="font-weight: bold" translate>REQUEST_HEADERS</p>
                    </div>

                    <div class="row">
                        <table class="col-xs-offset-5">
                            <tr ng-repeat="header in vm.request.headers">
                                <td>{{header.name}}={{header.value}}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div ng-show="vm.request.params.length">
                    <div class="row">
                        <p class="col-xs-offset-1 col-xs-3" style="font-weight: bold" translate>REQUEST_PARAMS</p>
                    </div>

                    <div class="row">
                        <table class="col-xs-offset-5">
                            <tr ng-repeat="param in vm.request.params">
                                <td>{{param.name}}={{param.value}}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div ng-show="vm.request.body">
                    <div class="row">
                        <p class="col-xs-offset-1 col-xs-3" style="font-weight: bold" translate>REQUEST_BODY</p>
                    </div>

                    <div class="row">
                        <table class="col-xs-offset-5">
                            <tr ng-repeat="pair in vm.request.body.pairs">
                                <td ng-show="pair.type === 'text'">{{pair.name}}={{pair.value}}</td>
                                <td ng-show="pair.type === 'file'">
                                    {{pair.name}} =
                                    <span class="btn btn-xs btn-file" style="color: black">
                                        {{vm.getFileName(pair.value) | translate | limitTo:13}}
                                                    <input type="file"
                                                           class="btn-link"
                                                           ng-model="pair.value"
                                                           upload>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row" ng-show="vm.response.data">
                    <div class="row">
                        <h4 style="text-align: center;font-weight: bold" translate>RESPONSE</h4>
                    </div>

                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-3" style="font-weight: bold" translate>RESPONSE_STATUS</div>
                        <div class="col-sm-3">{{vm.response.status | translate}}</div>
                    </div>

                    <br>

                    <div class="row" ng-show="vm.response.data">
                        <div class="col-xs-offset-1 col-xs-3" style="font-weight: bold" translate>RESPONSE_BODY</div>
                        <pre class="col-sm-6" ng-show="vm.response.xml">{{vm.response.xml | prettyXml}}</pre>
                        <pre class="col-sm-6" ng-show="vm.response.json">{{vm.response.json | json }}</pre>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary"
                        ng-click="vm.send()"
                        translate>
                    SEND_REQUEST
                </button>
                <button class="btn btn"
                        data-dismiss="modal"
                        translate>
                    CANCEL
                </button>
            </div>
        </div>
    </div>
</div>