<div>
    <h3 translate>SERVICES</h3>
    <table ng-table="vm.services" class="table table-condensed table-striped general-view">
        <tr class="row"
            ng-repeat="service in $data"
            ng-click="vm.select(service)"
            style="cursor:pointer"
            ng-attr-title="{{service.address}}">
            <td class="col-sm-2" ng-cloak>{{service.name}}</td>
            <td class="col-sm-2" ng-cloak>
                <span ng-style="vm.color(service.ping)">{{service.ping}}</span>
                <span ng-show="service.ping > 0" style="color: grey;" translate>MILLISECOND</span>
                <span ng-show="!service.ping" style="color: lightgrey">unknown</span>
            </td>
            <td class="col-sm-4" ng-cloak style="color: grey">{{service.description | limitTo:30}}</td>
            <td class="col-sm-4" style="text-align:right">
                <button class="btn-link btn-xs" ng-click="vm.update(service)" translate>EDIT</button>
                <button class="btn-link btn-xs" ng-click="vm.remove(service)" translate>REMOVE</button>
            </td>
        </tr>
    </table>

    <div class="monitoring-actions">
        <button type="submit"
                class="btn btn-info"
                ng-click="vm.register()" translate>REGISTER
        </button>
        <button type="submit"
                class="btn btn-info"
                ng-click="vm.start()" translate>WATCH
        </button>
        <button type="submit"
                class="btn btn-info"
                ng-click="vm.refresh()" translate>REFRESH
        </button>
        <button type="submit"
                class="btn btn-info"
                ng-click="vm.pause()" translate>PAUSE
        </button>
    </div>
</div>