<div>
    <h3 translate>SERVICES</h3>
    <table ng-table="vm.services" class="table table-condensed table-bordered table-striped general-view">
        <tr ng-repeat="service in $data">
            <td ng-cloak
                ng-click="vm.select(service)"
                class="row"
                ng-attr-title="{{service.address}}" style="cursor: pointer">
                <ul>
                    <li><span style="padding-left: 10px">{{service.name}}</span></li>
                    <li><span class="nowrap" style="color: grey">{{service.description | limitTo:30}}</span></li>
                    <li>
                        <span class="nowrap" style="float: right;">
                            <button class="btn-link btn-xs" ng-click="vm.update(service)" translate>EDIT</button>
                            <button class="btn-link btn-xs" ng-click="vm.remove(service)" translate>REMOVE</button>
                        </span>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
    <br>
    <div class="monitoring-actions">
        <button type="submit"
                class="btn btn-info"
                ng-click="vm.register()" translate>REGISTER
        </button>
        <button type="submit"
                class="btn btn-info"
                ng-click="vm.refresh()" translate>REFRESH
        </button>
    </div>
</div>