<div>
    <h3 translate>SERVICES</h3>
    <table ng-table="vm.services" class="table table-condensed table-striped general-view">
        <tr class="row"
            ng-repeat="service in $data"
            ng-click="vm.select(service)"
            style="cursor:pointer;min-height:25px"
            ng-attr-title="{{service.address}}">
            <td class="col-sm-2" ng-cloak>{{service.name}}</td>
            <td class="col-sm-6" ng-cloak style="color: gray">{{service.description | limitTo:30}}</td>
            <td class="col-sm-4" style="text-align:right">
                <button class="btn-link btn-xs" ng-click="vm.update(service)" translate>EDIT</button>
                <button class="btn-link btn-xs" ng-click="vm.remove(service)" translate>REMOVE</button>
            </td>
        </tr>
    </table>
    <br>

    <div class="monitoring-actions">
        <button type="submit"
                class="btn btn-info"
                ng-click="vm.register()" translate>REGISTER
        </button>
        <button type="submit"
                class="btn btn-info"
                ng-click="vm.refresh()" translate>REFRESH
        </button>
    </div>
</div>