.monitoring-actions button {
    margin: 0 2px 0 2px;
}

.general-view thead {
    display: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li span {
    float: left;
    width: 100px;
}

.nowrap {
    white-space: nowrap;
}